@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai',sans-serif;
}

body{
    background-color: #ffffff;
    color: #3f3f3f;
    line-height: 1.6;
}

nav {
    background-color: #3f3f3f;
    color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 72px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
nav a{
    color: lightblue;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: #3f3f3f;
}

.header{
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
}

.img-profile{
    width: 200px;
    border-radius: 30%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px #f8f8f8;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}
h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    background: #ffffff;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px #e7e7e7;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3{
    padding: 10px;
    font-size: 24px;
}
.card p{
    padding: 10px;
    font-size: 16px;
}